<link rel="import" href="../knockout.html" />
<link rel="import" href="../bindings/cssmod.html" />
<link rel="import" href="../components/app-tree.html" />
<link rel="import" href="../template-module.html" />

<template id="app-shell-template" is="template-module">
    <div class="app-shell">
        <app-tree class="app-shell__tree"></app-tree>
    </div>
</template>

<script as="app-shell-component">
define(['knockout', 'app-shell-template'], function (ko, templateElem) {
    ko.components.register('app-shell', {
        synchronous: true,
        template: { element: templateElem }
    });
});
</script>

<style>
    .app-shell {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .app-shell__tree {
        display: block;
        margin: 2em;
    }
</style>
