<link rel="import" href="../knockout.html" />
<link rel="import" href="../knockout-flatbind.html" />
<link rel="import" href="../bindings/cssmod.html" />
<link rel="import" href="../template-module.html" />

<template id="app-tree-template" is="template-module">
    <ul class="app-tree" data-bind-foreach="items">
        <li>
            <a class="app-tree__item"
               href="#"
               data-bind-text="name"
               data-bind-cssmod.active="isActive">
           </a>
        </li>
    </ul>
</template>

<script as="app-tree-component">
define(['knockout', 'app-tree-template'], function (ko, templateElem) {
    ko.components.register('app-tree', {
        synchronous: true,
        template: { element: templateElem },
        viewModel: ViewModel
    });

    function ViewModel() {
        this.items = ko.observable([
            { name: 'foo', isActive: true },
            { name: 'bar', isActive: false },
            { name: 'buz', isActive: false }
        ]);
    };
});
</script>

<style>
    .app-tree {
        list-style-type: none;
    }

    .app-tree__item--active {
        color: black;
        font-weight: bold;
    }
</style>
